* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: SeaGreen;
  text-align: center;
  font-size: 50px;
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: SeaGreen;
}

ul {
  color: SeaGreen;
}

strong {
  color: SeaGreen;
}
